# Setup modules
gevent == 1.5.0
flask == 1.1.2

# default available packages for python3action
beautifulsoup4 == 4.9.1
httplib2 == 0.18.1
kafka_python == 1.4.7
lxml == 4.5.2
python-dateutil == 2.8.1
requests == 2.24.0
scrapy == 1.8.0
simplejson == 3.17.2
virtualenv == 16.7.10
twisted == 18.9.0
netifaces == 0.10.9
# package to sync from a variety of cloud blob storage
python-rclone == 0.0.2

# more ML/DL packages
keras == 2.4.3
opencv-contrib-python == 3.4.11.41
Cython == 0.29.21
tools == 0.1.9
scikit-image == 0.17.2

nltk == 3.5
