# Setup modules
gevent == 1.2.2
flask == 1.0.2

# default available packages for python3action
beautifulsoup4 == 4.6.3
httplib2 == 0.11.3
kafka_python == 1.4.3
lxml == 4.2.4
python-dateutil == 2.7.3
requests == 2.19.1
scrapy == 1.5.1
simplejson == 3.16.0
virtualenv == 16.0.0
twisted == 18.7.0
netifaces == 0.10.7
# package to sync from a variety of cloud blob storage
python-rclone == 0.0.2

# more ML/DL packages
keras == 2.2.2
opencv-contrib-python == 3.4.2.17
Cython == 0.28.5
tools == 0.1.9
scikit-image == 0.14.1

nltk == 3.3
