# default available packages for action-python-v39
beautifulsoup4 == 4.9.3
httplib2 == 0.19.1
kafka_python == 1.4.7
lxml == 4.6.3
python-dateutil == 2.8.1
requests == 2.25.1
scrapy == 1.8.0
simplejson == 3.17.2
virtualenv == 20.4.7
twisted == 21.2.0
netifaces == 0.11.0
