# default packages available for action-python-v3.6-ai
-r requirements_common.txt

# package to sync from a variety of cloud blob storage
python-rclone == 0.0.2

# more ML/DL packages
keras==2.6.0
opencv-contrib-python==4.5.3.56
Cython==0.29.24
tools==0.1.9
scikit-image==0.17.2
nltk==3.6.2

# packages for numerics
numpy==1.19.5
scikit-learn==0.24.2
scipy==1.5.4
pandas==1.1.5

# packages for image processing
Pillow==8.3.2

# Etc
PyJWT==1.7.1
pymongo==3.12.0
redis==3.5.3
pika==1.2.0
elasticsearch==7.14.1
cassandra-driver==3.25.0
etcd3==0.12.0
twilio==6.63.2
